*.class
*.iml
.DS_Store
.gradle
.idea
bin/
build/
data/output/*
example/data/output/*
gen/
gradle/
local.properties
NorthConcepts-DataPipeline.license
#NorthConcepts-DataPipeline-*.jar
Thumbs.db
dist/
src/main/java/com/northconcepts/datapipeline/examples/userguide/RunningJobs.java
